# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:
  - package-ecosystem: 'devcontainers'
    directory: '/.devcontainer'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
  - package-ecosystem: 'pip'
    directory: '/requirements'
    schedule:
      interval: 'daily'
    groups:
      pandas:
        patterns:
          - 'pandas'
          - 'pandas[parquet]'
      # torchvision pins torch, must update in unison
      torch:
        patterns:
          - 'torch'
          - 'torchvision'
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    versioning-strategy: 'lockfile-only'
