repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        types_or:
          - python
          - jupyter
        args: ['--fix', '--show-fixes']
      - id: ruff-format
        types_or:
          - python
          - jupyter

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        pass_filenames: false
        args: [--config-file, pyproject.toml]
        additional_dependencies:
          - einops>=0.6.0
          - kornia>=0.7.4
          - lightning>=2.0.9
          - matplotlib>=3.9.2
          - numpy>=1.24
          - pandas-stubs>=2.1.1
          - pillow>=10.4.0
          - pytest>=7.3
          - scikit-image>=0.22.0
          - timm>=1.0.16
          - torch>=2.8
          - torchmetrics>=1.6.2
          - torchvision>=0.18
          - types-requests>=2.25
          - types-shapely>=2.0.2

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        language: node
        language_version: 22.0.0
        args:
          - --write
        exclude: ^tests/data/[^/]+/$
