name: 'labeler'
on:
  - pull_request_target
jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v6.0.2
      - name: Add label
        uses: actions/labeler@v6.0.1
        with:
          sync-labels: true
